.numeros-grid {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

@media (max-width: 700px) {
    .numeros-grid {
        grid-column: 1;
    }
}

.numeros-grid {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;

    margin-bottom: .5rem;
}

.numeros-grid span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #E54;
}